.example-container {
  display: grid;
  margin: 20px;
  border-radius: 10px;
}

::ng-deep .cdk-virtual-scroll-content-wrapper {
  display: contents !important;
}


::ng-deep .mat-expansion-panel-body {
  display: flex;
}

.mat-list-item {
  width: 300px;
  font-size: 12px;
  height: auto;
}

.ingredient-description {
  flex-grow: 1;
  margin-right: 3%;
  text-align: justify;
  white-space: pre-line;
}
.text-style{
  white-space: pre-wrap;
}


.mat-expansion-panel-header-description {
  display: flex;
  justify-content: flex-end;
}
