  <div style="margin-left:10px; display: flex ; font-size: 12px">
    <div style="max-width: 50px; margin-left: 3px; margin-right: 3px">
      <mat-form-field [floatLabel]="'never'">
        <input style="text-align: center" matInput [(ngModel)]="newIngredient.amount" placeholder="Amount"
               [value]="newIngredient.amount">
      </mat-form-field>
    </div>
    <div style="max-width: 45px; margin-left: 3px; margin-right: 3px">
      <mat-form-field [floatLabel]="'never'">
        <input style="text-align: center" matInput [(ngModel)]="newIngredient.unit" placeholder="Unit"
               [value]="newIngredient.unit">
      </mat-form-field>
    </div>
    <div style="width: 65%; min-width: 0px; margin-left: 3px; margin-right: 3px">
      <mat-form-field>
        <input matInput [(ngModel)]="newIngredient.name" placeholder="Ingredient" #ingredientName="ngModel" required>
        <mat-error *ngIf="ingredientName.invalid">
          Ingredient is required
        </mat-error>
      </mat-form-field>
    </div>
  </div>
